In [3]:
a="welcome"
print(a.upper().lower().capitalize())

Welcome

In [3]:
x,y=98,49
x,y=y,x     #For easily change x and y both into each other
print(x)
print(y)

49
98

In [4]:
x="hello World "

print(x.capitalize())
print(x.title())

Hello world
Hello World

In [11]:
var="example 1"         
print(var.center(10,"*"))    #It will take total 10 character and try to keep the words in center

example 1*

In [13]:
print(var.center(25,"*"))     #if you write the number less than word size, then also it will print the whole name of var

********example 1********

In [14]:
str="The fill character must be exactly one character long"

In [10]:
print(str.replace("exactly","exactly".upper()))

The fill character must be EXACTLY one character long

In [11]:
print(str.replace("a","b"))     #this will convert all the a of string into b

The fill chbrbcter must be exbctly one chbrbcter long

In [15]:
print(str.replace("a","basketball",2))    #This will convert first 4 a alphabet into basketball. After 2 a, remained a will be stay.

The fill chbasketballrbasketballcter must be exactly one character long

In [13]:
a=14.9
type(a)

float

In [14]:
b=int(a)
print(b)

14

## Python Data Structures

organising, Structuring, Collection,Storing, Managing

1.List
2.Tuple
3.Dict
4.Set

**List

1.Python Data Structure

2.Changeable -> CRUD (C-> Create, R-> Read, U-> Update, D-> Delete)

3.Store hetrogeneous data-> Different Datatype 

4.It allows duplicate value

In [15]:
l= ["Potatoes","Tomatoes","Pease","Onion","Cauliflower","Ladyfinger"]

In [16]:
type(l)

list

In [17]:
t = ("Potatoes","Tomatoes","Pease","Onion","Cauliflower","Ladyfinger")

In [18]:
type(t)

tuple

In [25]:
s= {"Potatoes","Tomatoes","Pease","Onion","Cauliflower","Ladyfinger"}

In [19]:
type(s)

set

In [28]:
s       #The set will automatically convert the elements intp alphabetically right form

{'Cauliflower', 'Go', 'Ladyfinger', 'Onion', 'Pease', 'Potatoes', 'Tomatoes'}

In [29]:
s.pop()

'Cauliflower'

In [31]:
nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 8, 8}

nums3 = nums1.difference(nums2)     # This will return new set in which there will be elements which are not in nums2
nums4 = nums2.difference(nums1)

print("nums1 - nums2: ", nums3)
print("nums2 - nums1: ", nums4)

nums1 - nums2:  {1, 2, 3}
nums2 - nums1:  {8, 6, 7}

In [32]:
nums1-nums2

{1, 2, 3}

In [33]:
cities = {'Bangalore','Mumbai','New York','Honk Kong','Chicago'}
indianCities = {'Bangalore','Mumbai'}

cities-indianCities

{'Chicago', 'Honk Kong', 'New York'}

In [30]:
s

{'Go', 'Ladyfinger', 'Onion', 'Pease', 'Potatoes', 'Tomatoes'}

In [24]:
l= ["Potatoes","Tomatoes","Pease","Onion","Cauliflower","Ladyfinger"]

In [25]:
l[-1:]

['Ladyfinger']

In [26]:
l[:-1]

['Potatoes', 'Tomatoes', 'Pease', 'Onion', 'Cauliflower']

In [27]:
l[-1:-4]

[]

In [29]:
l[-4:-1]             #list slicing always work from low value at left side and high value at right side. Here, -4 is less than -1

['Pease', 'Onion', 'Cauliflower']

In [35]:
str1="Hello World"

In [32]:
str1[0:9:2]

'HloWr'

In [36]:
str1[0:9:3]

'HlW'

CRUD (C-> Create, R-> Read, U-> Update, D-> Delete)

In [34]:
l

['Potatoes', 'Tomatoes', 'Pease', 'Onion', 'Cauliflower', 'Ladyfinger']

In [35]:
l[2]="Dhaniya"

In [36]:
l

['Potatoes', 'Tomatoes', 'Dhaniya', 'Onion', 'Cauliflower', 'Ladyfinger']

append() -> Adds the elements into the list in the end
extend() -> Add the elements of two or more dictionary into one
insert() -> Add the elements into the list with respect to the provided index

In [38]:
lis=list(range(4))

In [39]:
lis

[0, 1, 2, 3]

In [40]:
lis.extend('new')

In [41]:
lis

[0, 1, 2, 3, 'n', 'e', 'w']

In [42]:
lis.extend("Hey")

In [43]:
lis

[0, 1, 2, 3, 'n', 'e', 'w', 'H', 'e', 'y']

In [44]:
lis.append('new')

In [45]:
lis

[0, 1, 2, 3, 'n', 'e', 'w', 'H', 'e', 'y', 'new']

In [44]:
lis[-1]

'new'

In [46]:
lis.insert(2,"Hello")     #It will add the element into the fixed index. Like here it is inserted at index 2

In [47]:
lis

[0, 1, 'Hello', 2, 3, 'n', 'e', 'w', 'new']

In [50]:
lis.insert(-1,"hi")       # list.insert at -1 will add the new element one before the end

In [51]:
lis

[0, 1, 'Hello', 2, 3, 'n', 'e', 'w', 'hi', 'hi', 'new']

In [46]:
l=["Mobile","Television","Radio"]
game=["COD","Pubg","Tample run","COC"]

In [47]:
l.append(game)

In [48]:
l

['Mobile', 'Television', 'Radio', ['COD', 'Pubg', 'Tample run', 'COC']]

In [49]:
l=["Mobile","Television","Radio"]
game=["COD","Pubg","Tample run","COC"]

l.extend(game)

In [50]:
l

['Mobile', 'Television', 'Radio', 'COD', 'Pubg', 'Tample run', 'COC']

remove(Give me the name of an element)
pop(Give me an index of an element)
del() -> delete it, just give me the index

In [51]:
l.pop(2)

'Radio'

In [52]:
l

['Mobile', 'Television', 'COD', 'Pubg', 'Tample run', 'COC']

In [53]:
del l[1]      #It will also remove the data at the given index

In [54]:
l

['Mobile', 'COD', 'Pubg', 'Tample run', 'COC']

In [55]:
l.remove("Tample run")

In [56]:
l

['Mobile', 'COD', 'Pubg', 'COC']

In [57]:
l.pop(2)

'Pubg'

In [58]:
l

['Mobile', 'COD', 'COC']

In [63]:
l.pop()      #When you don't give index in pop, Then it will remove the last element by default from the list

'COC'

In [64]:
l

['Mobile', 'Television', 'COD', 'Pubg']

In [59]:
list1=[[1,2,3],[4,5,6]]

In [60]:
list1[1][2]

6

In [69]:
list1[1].remove(4)

In [70]:
list1

[[1, 2, 3], [5, 6]]

In [74]:
list2=[1,2,3,4,5,3,6]        #When there is same element in list, then using remove function will remove the element from the starting index

In [75]:
list2.remove(3)

In [76]:
list2

[1, 2, 4, 5, 3, 6]

In [77]:
l

['Mobile', 'Television', 'COD', 'Pubg']

In [78]:
del l[1]       #del should be with square bracket []

In [79]:
l

['Mobile', 'COD', 'Pubg']

In [61]:
grades=[38,45,69,82,009,87,10]   #If you put 09 here, Then it wil give en error, for remove the error, you have to write 9 instead of 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-61-e606ce14b3d3>, line 1)

In [62]:
a=int(input())

45

In [63]:
a

45

In [64]:
grades=[38,45,69,9,87,10]

In [65]:
len(grades)

6

In [88]:
max(grades)      #for find the maximum element of the list

87

In [89]:
min(grades)      # for find the minimum element of the list

9

In [75]:
alph=["Hello","Wold","Cat","Dog","Lion"]

In [76]:
max(alph)

'Wold'

In [77]:
min(alph)

'Cat'

In [78]:
sorted(alph)    # This will sort the data for the temporary time only

['Cat', 'Dog', 'Hello', 'Lion', 'Wold']

In [80]:
alph

['Hello', 'Wold', 'Cat', 'Dog', 'Lion']

In [105]:
alph.sort()    #This will sort the list permanently

In [106]:
alph

['Cat', 'Dog', 'Hello', 'Lion', 'Wold']

In [81]:
alph.extend(alph)

In [82]:
alph

['Hello', 'Wold', 'Cat', 'Dog', 'Lion', 'Hello', 'Wold', 'Cat', 'Dog', 'Lion']

In [83]:
alph.append(alph)

In [84]:
alph

['Hello',
 'Wold',
 'Cat',
 'Dog',
 'Lion',
 'Hello',
 'Wold',
 'Cat',
 'Dog',
 'Lion',
 [...]]

In [112]:
lis.extend(lis)    # you can extend 1 list into its list again

In [85]:
name="Monty python"
name[::-1]      # this double :: will convert the string into opposite side

'nohtyp ytnoM'

In [93]:
name[-5:-1]

'ytho'

In [115]:
name[:-1]

'Monty pytho'

In [120]:
name[::2]

'Mnypto'

**Heterogeneous data :- Heterogeneous data means that it contains of different types of data types like integer,strings,float  
  etc.      Example:- A=[67,"Hey","98",98,240,0.5,"0.6"]

In [94]:
s=[1,2,3,4,5,6,7,8,9,10]
print(sum(s))

55

In [102]:
li=[[[7,[5]]] , [[1,[2,[3,4,[5,[9]]]]]]]    #Question:- remove 9 number element from it from list

In [103]:
del li[1][0][1][1][2][1][0]

In [153]:
li[1][0][1][1][2][1].remove(9)

In [147]:
li

[[[7, [5]]], [[1, [2, [3, 4, [5, []]]]]]]

In [154]:
li[1][0][1][1][2].pop(1)    # This will pop the whole list which contain 9 from the list

[]

In [161]:
del li[1][0][1][1][2][1][0]       #This will remove the element from the list

In [162]:
li

[[[7, [5]]], [[1, [2, [3, 4, [5, []]]]]]]

In [105]:
l1=["Hello"]
l2=["World"]

In [106]:
l1.extend("hello")
print(l1)

['Hello', 'h', 'e', 'l', 'l', 'o']

In [178]:
l1.extend('World')

In [179]:
l1

['Hello', 'World', 'W', 'o', 'r', 'l', 'd']

In [182]:
a="Hello Hola hey hi"
a[0:-1:2]

'HloHl e '

In [188]:
list1=[1,2,3,4]
list2=[4,5,7,8]
list1= list1+list2

In [189]:
list1

[1, 2, 3, 4, 4, 5, 7, 8]

In [ ]:
clear()    #It removes all the elements from the list

In [190]:
list1.clear()

In [191]:
list1

[]

In [ ]:
copy()  #it copy all the element of one list to another

In [192]:
list1=list2.copy()

In [193]:
list1

[4, 5, 7, 8]

count()          #it counts how many time the same elements are come in list

In [196]:
kite=[1,2,3,4,1,1,2,1,7]

In [198]:
kite.count(1)       #It shows how many time the 1 is in the list kite

4