## Sets 

1.Python data structure
2.{}
3.Unordered
4.Unchangable-> inbuilt
5.It does not supports duplicacy

In [2]:
seti={11,1,3,7,2}

In [3]:
seti

{1, 2, 3, 7, 11}

In [4]:
setii={1,2,3,4,5,1,2,4,2,3,1,1,5}

In [49]:
setii

{1, 2, 3, 4, 5}

In [51]:
type(setii)

set

In [1]:
set1={"mangoes","cherries","apples","Cherries"}

In [2]:
set1

{'Cherries', 'apples', 'cherries', 'mangoes'}

In [25]:
type(set1)

set

In [33]:
li=[]
li=list(set1)

In [34]:
type(li)

list

In [12]:
set1     # It prints the element in ascending value in ascii code.  Ascii code:- A to Z :- 65 to 90, a to z:- 97 to 122, 0 to 9:- 48 to 57

{'Cherries', 'apples', 'cherries', 'manoges'}

In [13]:
li= list(set1)

In [37]:
li       #it will print every elements in alternative way of set

['Cherries', 'cherries', 'apples', 'manoges']

In [18]:
type(li)

list

In [47]:
li

['Cherries', 'cherries', 'apples', 'manoges']

In [3]:
seti={"bananas","cherries","apples","mangoes"}

In [57]:
seti

{'apples', 'bananas', 'cherries', 'mangoes'}

In [6]:
"bananas" in seti

True

In [8]:
##CRUD

# C -> Create{}, set 
# R -> print(). for
# U ->adding any elements, update, {1,1} -> {2,2}
# D -> Delete, remove,pop

set_a={"apples","bananas","mangoes"}
set_b={"oranges"}


#Adding up the two sets

set_a.update(set_b)

In [9]:
set_a

{'apples', 'bananas', 'mangoes', 'oranges'}

In [11]:
set_a.add("mango")

In [12]:
set_a

{'apples', 'bananas', 'mango', 'mangoes', 'oranges'}

In [13]:
set_c={"hii","bye"}
set_d={"new","few"}

In [17]:
set_a

{'apples', 'bananas', 'grapes', 'mango', 'mangoes', 'oranges'}

In [18]:
set_a.add("grapes")

In [62]:
set_a

{'apples', 'bananas', 'grapes', 'mangoes', 'oranges'}

In [ ]:
#sets

remove()

In [19]:
set_a.remove("grapes")

In [20]:
set_a

{'apples', 'bananas', 'mango', 'mangoes', 'oranges'}

In [21]:
set_a.remove("grapes")

KeyError: 'grapes'

In [66]:
set_a

{'apples', 'bananas', 'mangoes', 'oranges'}

In [67]:
set_a.discard("mangoes")

In [68]:
set_a

{'apples', 'bananas', 'oranges'}

In [69]:
set_a.discard("mangoes")    #if you again use discard for mangoes, then also it will not give an error. Where as, in remove function, if you try to remove the same thing again, ten it will give an error

In [70]:
set_a

{'apples', 'bananas', 'oranges'}

In [71]:
#clear() make the set empty(remove the element)

set_a.clear()

In [72]:
set_a

set()

In [28]:
set_a={"apple","banana","charries"}
set_b={"google","microsoft","apple"}

In [3]:
set_c=set_a.union(set_b)

In [4]:
set_c

{'apple', 'banana', 'charries', 'google', 'microsoft'}

In [29]:
set_a.update(set_b)

In [30]:
set_a

{'apple', 'banana', 'charries', 'google', 'microsoft'}

In [32]:
set_c= set_a.intersection(set_b)

In [33]:
set_c

{'apple', 'google', 'microsoft'}

In [34]:
set_c=set_a.difference(set_b)

In [35]:
set_c

{'banana', 'charries'}

## Python

**1.Web development
2.scrap
3.Automation Engineering
4.Data Analysis ->


**Data Types -> String, Integers,Float, Boolean
Data structures->List, Tuple, Dict, Set
COnditional Statement -> if,elif,else
Loop-> for & while
Function -> def __()
Oops -> Classes, objects,inheritence(single,multiple, multilevel), abstraction, polymor.(overriding & overloading)

**Conditional Statement

a==b
a!=b
a>b
a<b
a>=b
a<=b

In [ ]:
# if else is a keyword not a function

if condition:
    statement
else:
    statement

In [19]:
winner = "England"

if winner =="England":
    print("5000 extra pocket money") 
else:
    print("Chores")

5000 extra pocket money

In [ ]:
# **The method for write if else in short form

winner= "India"
print("5000 extra pocket money") if winner=="England" else print("Chores")

In [ ]:
if price<100:
    print("Buy some snacks")
elif price==100:
    print("Purchase the PR T card")

In [36]:
stri="Monday"

In [37]:
stri==True   #It gives answer as false because stri has saved value string Monday in his element.If stri = True then, the stri==True will give answer as True

False

In [ ]:
stri=1

In [43]:
stri==True

False

In [36]:
if ans:
    print("Hello world")    
else:
    print("bbye world")
    
#Here, It will give en error bcoz ans variable is not defined but if you write any variable which is defined, then it will give the if answer

NameError: name 'ans' is not defined

In [46]:
stri=3
if stri:                 
    print("Hello world")
else:
    print("bbye world")
    
# Here,stri is defined, That's why it prints hello world and if stri=False, then it will print the bbye world as answer

Hello world

In [47]:
stri=False
if stri:                 
    print("Hello world")
else:
    print("bbye world")
    
# Here,stri is defined, That's why it prints hello world and if stri=False, then it will print the bbye world as answer

bbye world

In [48]:
#First, The try will be run and if there will be an error, then the except will be printed

try:
    if ans:
        print("Hello world")    
except:
    print("bbye world")
    
# Here, Try and exception method is used to handle the exception or an error method which helps us to hsndle an error

bbye world

In [40]:
listi=["Mr.bean","Sinchan","Tom & Jerry","Richie Rich"]

In [41]:
if "Noddy" in listi:
    print("Yes it is")
elif "Oswald" not in listi:
    listi.append("Oswald")

In [42]:
listi

['Mr.bean', 'Sinchan', 'Tom & Jerry', 'Richie Rich', 'Oswald']

In [44]:
inp=input("Enter name: ")

if inp.isnumeric():          #It is conditional method. If the answer will be numeric, then it will be true. num= 0 to 9
    print("Sorry, try again")
elif inp.isalpha():          #It is conditional method. If the answer will be in alphabet, then it will be true. alpha=a to z and A to Z
    print("You are good to go")
else:
    print("Drop off the college")

Enter name: 12
Sorry, try again

In [50]:
n = input("Enter the combination or single alphabetical and number: ")
# isalnum-> Alpha Numeric

if n.isalnum():           
#isalnum is conditional method. If the answer will be alphabetic or numeric or combination of both, then it will be true.
# But remember, It will not take special character. If you enter special character, Then it will be false.
    print("You are good to go")
else:
    print("Sorry try again")

Enter the combination or single alphabetical and number: 65
You are good to go